body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main {
    /* border: 1px solid black; */
    max-width: 50%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;

    /* height: 10px; */
    border-radius: 4px;
    box-shadow: 0px 1px 0 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin-top: 30px;
    background-color: rgb(223, 220, 226);
    padding: 10px;


}

.head {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid rgb(64, 135, 156);
    text-align: center;
    display: flex;
    justify-content: center;
    /* margin-top: 15px; */

}

.head p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 25px;
    color: #696868;
    /* padding-bottom: 0px; */
    /* line-height: 2px; */
}


.data {
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    align-items: center;

    overflow-wrap: break-word;
}


.read {
    display: flex;
    max-width: 90%;
    flex-flow: row;
    gap: 20px;

   
    justify-content: space-evenly;
    justify-content: center;
    overflow-wrap: break-word;
    flex-wrap: wrap;

}

.read div input{
    height: 30px;
    border: 1px solid purple;
    border-radius: 6px;
    background-color: transparent;
    font-size: 16px;
    width: 90px;
    

}


.read div input:focus{
    outline: none;
}

.read div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* height: 50px; */
    font-size: 20px;
    /* width: min-content; */
}

.btnsec {
    width: 60%;
    /* max-width: ; */
    gap: 20px;

    display: flex;
    justify-content: center;

}

.btnsec button {
    max-width: 120px;
    width: 100%;
    background-color: rgb(156, 116, 194);
    border: none;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.display {
    margin: auto;
    /* width: 100%; */
    /* border-top: 1px solid rgb(233, 228, 228); */
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    width: max-content;
    justify-content: center;
    padding: 10px 30px;
    


}

.circle
{
   border: 1px solid black;
   height: 16px;
   width: 16px;
   border-radius: 50%;
   display: inline flex;
   /* display: inline ; */
   background-color: white;
   /* margin: 10px; */
}

.row{
    text-align: center;
}
